<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Maggie" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Maggie" %>">
    <meta property="og:title" content="Vote For Maggie Doyne" />
    <meta property="og:site_name" content="fuitter"/>
    <meta property="og:url" content="http://www.fuitter.com/" />
    <meta property="og:description" content="App that changes the profile picture with the filter supporting Maggie Doyne win the title of CNN hero." />
<meta property="fb:app_id" content="555028044654300" />
<meta property="og:type" content="Web app" />
<meta property="article:author" content="https://www.facebook.com/sushant.bajracharya.3" />
<meta property="article:publisher" content="https://www.facebook.com/teamunx" />
<meta property="og:image"         content="http://fuitter.com/default.jpg" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <main role="main">
       <%= render 'layouts/messages' %>
       <div class="container about">
        <div class="row">

          <%= yield %>
        </div>
      </div>
    </main>

  </body>
</html>
